
<div class="row">
  <div class="col-xs-12">
      <form [formGroup]="recvEditForm">

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <label for="rQty">Received Qty</label>
              <input 
                type="number" 
                id="rQty"       
                formControlName="rQty"     
              >
            </div>  
          </div>  
          
          <p></p>
          
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <label for="slot">Location ID</label>
              <input 
                type="text" 
                id="slot"
                formControlName="slot"   
              >
            </div>  
          </div>

          <p></p>
          
          <div class="row">
            <div class="col-xs-1"></div>            
            <div class="col-xs-2">
                <button
                type="button" 
                class="btn btn-success" 
                (click)="onSave()"
                >Save Details</button>
            </div>
          </div>          
            
      </form>
  </div>
</div>