<div class="row">

  <div class="col-xs-6">

    <form [formGroup]="recvForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
          <label for="sku">SKU Nbr</label>
          <input 
            type="text" 
            id="sku"       
            formControlName="sku"
            [(ngModel)]="skuValue"      
          >
        </div>
      </div>

      <p></p>
      <div class="row">
        <div class="col-xs-1"></div>            
        <div class="col-xs-2">
            <button
            type="button" 
            class="btn btn-success" 
            (click)="onRetrieve()"
            >Retrieve Details</button>
        </div>      
      </div>
      <hr>

    <!-- <app-recv-edit></app-recv-edit> -->
  </form>
    <!-- <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-3">
        <label for="rQty">Received Qty</label>
        <input 
          type="number" 
          id="rQty"       
          name="rQty"      
        >
      </div>
    </div>

    <p></p>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-3">
        <label for="slot">Location ID</label>
        <input 
          type="text" 
          id="slot"       
          name="slot"      
        >
      </div>
    </div>

    <p></p>
    <div class="row">
      <div class="col-xs-1"></div>            
      <div class="col-xs-2">
          <button
          type="button" 
          class="btn btn-success" 
          >Update</button>
      </div>      
    </div> -->
    
  </div>

  <div class="col-xs-6">
    <app-recv-detail></app-recv-detail>
  </div>

</div>

