
<form [formGroup]="recvDtForm">

  <div class="row">

    <div class="col-xs-1"></div>
    <div class="col-xs-2">
      <label for="sku">SKU Nbr</label>
      <input 
        type="text" 
        id="sku"       
        formControlName="sku"      
      >
    </div>

  </div>

  <p></p>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2">
      <label for="inv">Invoice Nbr</label>
      <input 
        type="text" 
        id="inv"       
        formControlName="inv"     
      >
    </div>  
  </div>

  <p></p>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2">
      <label for="slot">Slot Nbr</label>
      <input 
        type="text" 
        id="slot"       
        formControlName="slot"           
      >
    </div>  
  </div>

  <p></p>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2">
      <label for="oQty">Ordered Qty</label>
      <input 
        type="number" 
        id="oQty"       
        formControlName="oQty"            
      >
    </div>  
  </div>

  <p></p>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2">
      <label for="rQty">Received Qty</label>
      <input 
        type="number" 
        id="rQty"       
        formControlName="rQty"             
      >
    </div>  
  </div>

  <p></p>

  <div class="row">
    <div class="col-xs-1"></div>            
    <div class="col-xs-2">
        <button
        type="button" 
        class="btn btn-success" 
        (click)="onSave()"
        >Save Details</button>
    </div>
  </div>

</form>